
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.suggestion-container {
  position: absolute;  
  top: 0;              
  right: 0;           
  margin: 20px;       
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}
