.suggestion-container{
  display: flex;
  flex-flow: column;
}

.suggestion-container > :not(:last-child){
  margin-bottom: 10px;
}

.suggestion-card{
  border: solid black 1px;
  box-shadow: 1px 1px;
}

