.suggestion-container {
  bottom: 0;
  width: 50%; /* Stretch across the top */
  background-color: lightblue; /* Optional: Add a background color */
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.suggestion-dashboard {
  color: black;
}